<template>
  <div class="q-pa-md q-gutter-md">
    <div class="row">
      <div class="text-center col-12">
         <q-btn
          rounded
          :disabled="btnPracticeTestDisabled"
          color="green"
          label="Practice"
          @click="startPracticeSession"
        />
      </div>
    </div>
    <div class="q-gutter-sm text-center">
      <div class="text-center">
        Number of questions to load
      </div>
      <q-radio v-model="questionQuantity" :val="10" label="10" />
      <q-radio v-model="questionQuantity" :val="20" label="20" />
      <q-radio v-model="questionQuantity" :val="30" label="30" />
      <q-radio v-model="questionQuantity" :val="40" label="40" />
      <q-radio v-model="questionQuantity" :val="50" label="50" />
    </div>
    <q-card
      flat
      bordered
      class="my-card"
      v-for="(category, key) in categories"
      :key="category.id"
      @click="selectCategoryCardClick(category, key)"
    >
      <q-card-section horizontal>
        <q-card-actions vertical class="justify-around">
            <q-checkbox dense v-model="category.is_selected" @input="selectCategory(category.id, $event)"/>
        </q-card-actions>

        <q-separator vertical />

        <q-card-section class="col text-subtitle1 text-weight-medium q-pa-sm">
          {{ category.name }}
        </q-card-section>
        <q-card-section class="col text-subtitle1 text-weight-medium q-pa-sm">
          <q-badge color="blue" align="middle">
            {{category.questions_count + ' Questions'}}
          </q-badge>
        </q-card-section>
        <q-card-section class="col text-right text-subtitle1 text-weight-medium q-pa-sm">
          {{ category.persian_name }}
        </q-card-section>
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
export default {
  name: 'CategoryIndex',
  data () {
    return {
      categories: {},
      selectedCategories: [],
      questionQuantity: 50
    }
  },
  mounted () {
    this.fetchCategories()
  },
  computed: {
    btnPracticeTestDisabled () {
      if (this.selectedCategories.length > 0) {
        return false
      } else {
        return true
      }
    }
  },
  methods: {
    fetchCategories () {
      this.$axios.get('/api/categories').then((response) => {
        this.categories = response.data
        this.categories.forEach((category, key) => {
          this.$set(this.categories[key], 'is_selected', false)
        })
      })
    },
    selectCategory (category, event) {
      if (event) {
        this.selectedCategories.push(category.id)
      } else {
        this.selectedCategories.pop()
      }
    },
    selectCategoryCardClick (category, key) {
      var isCategorySelected = this.categories[key].is_selected
      if (!isCategorySelected) {
        this.selectedCategories.push(category.id)
        this.$set(this.categories[key], 'is_selected', true)
      } else {
        this.selectedCategories.pop()
        this.$set(this.categories[key], 'is_selected', false)
      }
    },
    startPracticeSession () {
      var selectedCategoryIds = []
      this.categories.forEach((category) => {
        if (category.is_selected) {
          selectedCategoryIds.push(category.id)
        }
      })

      this.$axios.get('/api/questions/random/', {
        params: {
          categories: JSON.stringify(selectedCategoryIds),
          questionQuantity: this.questionQuantity
        }
      }).then((response) => {
        var questions = response.data
        this.$router.push({ name: 'tests.show', params: { questions: questions } })
      })
    }
  }
}
</script>
