<template>
  <div class="q-pa-md">
    <div class="row q-mb-lg">
      <div class="col text-center">
        <q-btn
          outline
          rounded
          color="green"
          label="Mock Test"
          @click="$router.push({ name: 'tests.show', params: {questions: questions} })"
        />
      </div>
    </div>

    <q-card
      flat
      bordered
      class="my-card q-mb-md bg-grey-1"
      v-for="question in questions"
      :key="question.id"
    >
      <q-card-section horizontal class="text-bold bg-grey-4">
        <q-card-section class="col-6">
          {{ 'Question: ' + question.id }}
        </q-card-section>

        <q-card-section class="col-6 text-right text-subtitle1 text-weight-medium">
        </q-card-section>
      </q-card-section>

      <q-card-section class="text-subtitle2">
        {{ question.text }}
      </q-card-section>

      <q-separator inset />

      <q-card-section class="text-right text-subtitle2">
        {{ question.persian_text }}
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
export default {
  props: ['id'],
  name: 'CategoryShow',
  data () {
    return {
      questions: {},
      cateogry: {}
    }
  },
  mounted () {
    this.fetchCategories()
  },
  methods: {
    fetchCategories () {
      this.$axios.get('api/categories/' + this.id).then((response) => {
        this.cateogry = response.data
        this.questions = response.data.questions
      })
    }
  }
}
</script>

<style lang="css" scoped>
</style>
