<template>
  <div class="q-pa-md q-gutter-md">
    <q-list bordered separator>
      <q-item clickable v-ripple v-for="category in categories" :key="category.id">
        <q-item-section>{{ category.name }}</q-item-section>
        <q-item-section></q-item-section>
      </q-item>
      <q-toggle v-model="visible" label="Visible image" class="q-mb-md" />

    <q-slide-transition>
      <div v-show="visible">
        <img
          class="responsive"
          src="https://cdn.quasar.dev/img/quasar.jpg"
        >
      </div>
    </q-slide-transition>
    </q-list>
  </div>
</template>

<script>
export default {
  name: 'PageIndex',
  data () {
    return {
      active: true,
      categories: {},
      visible: true
    }
  },
  mounted () {
    this.fetchCategories()
  },
  methods: {
    fetchCategories () {
      this.$axios.get('/api/categories').then((response) => {
        this.categories = response.data
      })
    }
  }
}
</script>
