<template>
  <div>
    <q-header class="bg-green">
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          @click="goBack()"
          icon="navigate_before"
          aria-label="Menu"
        />

        <q-toolbar-title>
          Practice
        </q-toolbar-title>
        <span class="q-mr-md">Question: {{ questionKey + 1 + ' of ' + questions.length}}</span>
        {{ ' | ' }}
        <q-toggle
          v-model="showTranslation"
          color="orange-5"
          dense
          @click="toggleTranslationDisplay"
          class="q-ml-md"
          icon="translate"
        />
      </q-toolbar>
      <q-linear-progress class="bg-white orange" color="warning" size="10px" :value="(questionKey + 1) / questions.length" />
    </q-header>
    <q-tab-panels
      v-model="question.id"
      animated
      infinite
      v-touch-swipe.horizontal.scroll.mouse="navigate"
    >
      <q-tab-panel v-for="question in questions" :key="question.id" :name="question.id">
        <q-slide-transition>
          <div class="text-center" v-if="question.image">
            <q-img
              :src="baseUrl + '/storage/images/' + question.image"
              spinner-color="white"
              style="width: 80%; max-width: 400px;"
            />
          </div>
        </q-slide-transition>
        <div class="row q-pt-lg q-mb-md" v-if="question.text">
          <div class="col-12 text-center text-h5">
              <question-text :text="question.text"></question-text>
          </div>
          <transition name="fade">
            <div class="col-12 text-center text-h6" v-if="showTranslation">
                {{ question.persian_text }}
            </div>
          </transition>
          <div class="col-12 text-center">
            <q-btn flat dense round color="black" @click.stop="playAudio(question.text)" icon="play_circle_filled" />
          </div>
        </div>

        <q-list>
          <q-item
            v-for="(answer, key) in answers" in sorted_candidates
            :key="answer.id"
            :class="answer.class"
            class="defaultList"
          >
            <q-item-section side>
              <q-btn flat round dense color="black" icon="play_circle_filled" @click.stop="playAudio(answer.text)"/>
            </q-item-section>
            <q-item-section class="text-center" style="font-size: 1.2em;">
              <q-item-label class="q-mb-sm">
                <question-text :text="answer.text"></question-text>
              </q-item-label>
              <transition name="fade">
                <q-item-label v-if="showTranslation">
                  {{ answer.persian_text }}
                </q-item-label>
              </transition>
            </q-item-section>
            <q-item-section side>
              <q-radio  :disable="isResultDisplayed" @input="checkAnswer(answer ,key)" v-model="question.selectedAnswerId" :val="answer.id" color="black"/>
            </q-item-section>
          </q-item>
        </q-list>
        <transition name="fade">
          <div class="row q-mt-lg" v-if="question.showIncorrectText && question.incorrect_text !== ''">
            <div class="col-12 text-center">
              <q-card style="border-radius: 10px;" flat class="bg-orange-1">
                <q-card-section>
                <question-text :text="question.incorrect_text"></question-text>
                <p class="q-mt-md text-center" v-if="showTranslation">
                  {{ question.persian_incorrect_text }}
                </p>
                </q-card-section>
              </q-card>
            </div>
          </div>
        </transition>
      </q-tab-panel>
    </q-tab-panels>

    <q-dialog
      v-model="finalResult"
      transition-show="slide-up"
      transition-hide="slide-down"
      full-width
    >
      <q-card class="bg-grey-1">
        <q-card-section class="text-center text-green" v-if="resultPercent > 49">
          <h3 class="q-mb-lg q-mt-lg">Passed</h3>
        </q-card-section>

        <q-card-section class="text-center text-red" v-else>
          <h3 class="q-mb-lg q-mt-lg">Failed</h3>
        </q-card-section>

        <q-card-section class="q-pt-none text-center">
          <q-knob
            v-model="resultPercent"
            show-value
            readonly
            size="150px"
            :thickness="0.22"
            :color="knobColor('color')"
            :track-color="knobColor('track-color')"
            :class="knobColor('class')"
          >
          {{ resultPercent }}%
          </q-knob>
        </q-card-section>

        <q-card-section class="text-center" v-if="resultPercent > 49">
          <p>Congratulations! You passed.</p>
        </q-card-section>

         <q-card-section class="text-center" v-else>
          <p>You need to score 50% or above to pass.</p>
        </q-card-section>

        <q-card-actions align="center" class="q-pl-xl q-pr-xl q-pb-xl">
          <q-btn label="Review questions" class="full-width" color="orange-7" v-close-popup />
          <q-btn label="Exit" color="red-5" class="full-width q-mt-md" @click="goBack('goBackConfirmed')" />
        </q-card-actions>

      </q-card>
    </q-dialog>

    <q-dialog v-model="confirmDialog" full-width>
      <q-card>
        <q-card-section class="text-center">
          <q-avatar icon="priority_high" color="red" text-color="white" />
        </q-card-section>

        <q-card-section class="text-center q-mb-lg">
          <span>{{ confirmDialogMessage }}</span>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="Cancel" color="primary" v-close-popup />
          <q-btn flat label="Yes" color="red" @click="goBack('goBackConfirmed')" />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <!-- <q-footer elevated class="bg-green q-pa-sm">
      <div class="row">
        <div class="col text-center">
          <q-btn
            dense
            class="q-mr-sm q-pl-md q-pr-md"
            outline
            :disabled="btnNavBeforeDisabled"
            color="white"
            label="PREV"
            icon="navigate_before"
            @click="navigate('navBack')"
          />
          <q-btn
            dense
            outline
            class="q-ml-sm q-pl-md q-pr-md"
            :disabled="btnNavNextDisabled"
            color="white"
            icon-right="navigate_next"
            label="NEXT"
            @click="navigate('navNext')"
          />
        </div>
      </div>
    </q-footer> -->

  </div>
</template>

<script>
import QuestionText from 'components/QuestionText.vue'

export default {
  props: ['questions'],
  name: 'AnswerShow',
  components: {
    'question-text': QuestionText
  },
  data () {
    return {
      canGoBack: false,
      confirmDialog: false,
      confirmDialogMessage: '',
      finalResult: false,
      isAnswerSelectionDisabled: false,
      question: {},
      answers: {},
      seletedAnswer: null,
      isResultDisplayed: false,
      showAnswers: false,
      questionKey: 0,
      showTranslation: false,
      btnNavNextDisabled: false,
      btnNavBeforeDisabled: false,
      baseUrl: process.env.API,
      result: { correctAnswers: [], wrongAnswers: [] }
    }
  },
  mounted () {
    if (!this.questions) {
      this.$router.push('/')
    }

    try {
      this.showTranslation = this.$q.localStorage.get('showTranslation')
    } catch (e) {
      console.log(e)
      this.showTranslation = false
    }

    this.fetchQuestion(this.questionKey)
  },
  computed: {
    resultPercent () {
      var finalResult = (100 / this.questions.length) * this.result.correctAnswers.length
      return Math.round(finalResult)
    }
  },
  beforeRouteLeave (to, from, next) {
    if (this.canGoBack === false) {
      this.goBack()
    }
    if (this.canGoBack) {
      next()
    } else {
      next(false)
    }
  },
  methods: {
    knobColor (param) {
      if (param === 'color') {
        if (this.resultPercent > 49) {
          return 'green'
        } else {
          return 'red'
        }
      } else if (param === 'track-color') {
        if (this.resultPercent > 49) {
          return 'green-7'
        } else {
          return 'red-7'
        }
      } else if (param === 'class') {
        if (this.resultPercent > 49) {
          return 'text-green'
        } else {
          return 'text-red'
        }
      }
    },
    fetchQuestion (key) {
      this.answers = this.questions[key].answers
      this.question = this.questions[key]
      this.isNavigationAvailable = true
      if (this.question.isResultDisplayed === true) {
        this.isResultDisplayed = true
      } else {
        this.isResultDisplayed = false
      }

      if (this.questionKey === this.questions.length - 1) {
        this.btnNavNextDisabled = true
      } else {
        this.btnNavNextDisabled = false
      }

      if (this.questionKey === 0) {
        this.btnNavBeforeDisabled = true
      } else {
        this.btnNavBeforeDisabled = false
      }
    },
    playAudio (text) {
      var msg = new SpeechSynthesisUtterance(text)
      msg.rate = 0.8
      window.speechSynthesis.speak(msg)
    },
    checkAnswer (answer, key) {
      this.$set(this.questions[this.questionKey], 'selectedAnswerId', answer.id)
      this.$set(this.questions[this.questionKey], 'showIncorrectText', true)
      this.$set(this.questions[this.questionKey], 'isResultDisplayed', true)
      if (answer.is_answer !== 1 && this.isResultDisplayed === false) {
        this.result.wrongAnswers.push(answer)
        this.$set(this.questions[this.questionKey].answers[key], 'class', 'wrongAnswer')
        this.answers.forEach((answer, key) => {
          if (answer.is_answer === 1) {
            answer.class = 'correctAnswer'
          }
        })
        this.isResultDisplayed = true
      } else if (this.isResultDisplayed === false) {
        this.result.correctAnswers.push(answer)
        this.$set(this.answers[key], 'class', 'correctAnswer')
        this.isResultDisplayed = true
      }

      var correctAnswersCount = this.result.correctAnswers.length
      var wrongAnswersCount = this.result.wrongAnswers.length

      if (this.questions.length === (correctAnswersCount + wrongAnswersCount)) {
        this.finalResult = true
      }

      this.isAnswerSelectionDisabled = true
    },
    toggleTranslationDisplay () {
      this.showTranslation = !this.showTranslation
      try {
        this.$q.localStorage.set('showTranslation', this.showTranslation)
      } catch (e) {
        console.log(e)
      }
    },
    navigate (evt) {
      this.isAnswerSelectionDisabled = false
      if (evt.direction === 'left' && this.questionKey !== this.questions.length - 1) {
        this.questionKey++
        this.fetchQuestion(this.questionKey)
      } else if (evt.direction === 'right' && this.questionKey !== 0) {
        this.questionKey--
        this.fetchQuestion(this.questionKey)
      }
    },
    goBack (param) {
      if (param === 'goBackConfirmed') {
        this.canGoBack = true
        this.$router.push('/')
      } else if (this.result.correctAnswers.length + this.result.wrongAnswers.length === this.questions.length) {
        this.confirmDialog = true
        this.confirmDialogMessage = 'Are you sure?'
      } else {
        this.confirmDialog = true
        this.confirmDialogMessage = 'You will lose all your progress. Are you sure you want to go back?'
      }
    }
  }
}
</script>

<style lang="css" scoped>
  .correctAnswer {
    background: #417C12 !important;
    color: white;
  }

  .wrongAnswer {
    background: #C75727 !important;
    color: white;
  }

  .defaultList {
    margin-bottom: 10px;
    border-radius: 10px;
    background: #e4e4e4;
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
</style>
