<template>
  <div class="question-text">
    <template v-for="word in words">
      <span style="cursor: help" @click="translateWord(word)" :key="word.id">{{word}}</span>{{' '}}
    </template>

    <q-dialog v-model="isShowingTranslation" style="max-width: 80%">
      <q-card>
        <q-card-section class="row items-center q-pb-none">
          <div class="text-h6">{{ word }}
            <span>
              <q-btn flat dense round color="black" @click.stop="playAudio(word)" icon="play_circle_filled" />
            </span>
          </div>
          <q-space />
          <div class="text-h6">{{ persian_transaltion }}</div>
        </q-card-section>
          <q-markup-table wrap-cells>
            <tbody>
              <tr v-for="translation in additional_translations" :key="translation.id">
                <td class="text-left">
                  <template v-for="(english_translation, key) in translation.english_translations">
                    <span :key="english_translation.id">{{english_translation}}</span>
                    <template v-if="key < translation.english_translations.length - 1">
                      {{ ', '}}
                    </template>
                  </template>
                </td>
                <td class="text-right" width="30%">{{translation.persian_text}}</td>
              </tr>
            </tbody>
          </q-markup-table>
        <q-card-section class="text-right">
          <q-btn @click="closeDialog" icon="close" color="red" flat round v-close-popup />
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
export default {
  props: ['text'],
  name: 'QuestionText',
  data () {
    return {
      word: '',
      persian_transaltion: '',
      additional_translations: {},
      isShowingTranslation: false
    }
  },
  computed: {
    words () {
      var textWords = this.text.split(' ')
      var words = []
      textWords.forEach((word) => {
        words.push(word)
      })
      return words
    }
  },
  methods: {
    translateWord (word) {
      this.$axios.get('api/words/' + word.replace(/[^a-zA-Z ]/g, '')).then((response) => {
        if (response.data) {
          this.word = response.data.text
          this.persian_transaltion = response.data.persian_translation
          this.additional_translations = response.data.additional_translations
          this.isShowingTranslation = true
        } else {
          this.$q.notify({
            color: 'negative',
            message: 'Translation not found',
            position: 'top',
            actions: 'Dismiss',
            timeout: 2000
          })
        }
      })
    },
    closeDialog () {
      this.isShowingTranslation = true
    },
    playAudio (text) {
      var msg = new SpeechSynthesisUtterance(text)
      msg.rate = 0.8
      window.speechSynthesis.speak(msg)
    }
  }
}
</script>

<style lang="css" scoped>
</style>
