<template>
  <div class="q-pa-md">
    <div class="row">
      <div class="col">
        Show answers:
      </div>
      <div class="col" style="text-align: right">
        <q-toggle
          v-model="showAnswers"
          color="green"
          @click="toggleShowAnswers"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <p>Question number: {{ question.id }}</p>
      </div>
      <div class="col-6" style="text-align: right;">
        <q-btn flat round color="black" @click="playAudio(question.text)" icon="play_circle_filled" />
      </div>
    </div>
    <div class="row q-mt-lg">
      <div class="col">
        <p>
          {{ question.text }}
        </p>
      </div>
    </div>
    <div class="row q-mb-lg">
      <div class="col">
        <p style="text-align: right;">
          {{ question.persian_text }}
        </p>
      </div>
    </div>
    <div class="row q-mb-lg" v-if="question.image">
      <div class="col" style="text-align: center;">
        <q-img
          :src="'http://127.0.0.1:8000/storage/images/' + question.image +'.jpg'"
          spinner-color="white"
          style="width: 80%; max-width: 400px;"
        />
      </div>
    </div>

    <q-list bordered separator>
      <q-item
        clickable
        v-ripple
        v-for="(answer, key) in answers" in sorted_candidates
        :key="answer.id"
        :class="answer.class"
        @click.native.prevent="checkAnswer(answer, key)"
      >

        <q-item-section>
          <q-item-label>{{ answer.text }}</q-item-label>
          <q-item-label style="text-align: right;">{{ answer.persian_text }}</q-item-label>
        </q-item-section>
        <q-item-section side>
          <q-btn flat round color="black" icon="play_circle_filled" @click.stop="playAudio(answer.text)"/>
        </q-item-section>
      </q-item>
    </q-list>

    <div class="row q-mt-lg" v-if="showIncorrectTexts">
      <div class="col">
        <p >
          {{ question.incorrect_text }}
        </p>
      </div>
    </div>
    <div class="row q-mb-lg" v-if="showIncorrectTexts">
      <div class="col">
        <p style="text-align: right;">
          {{ question.persian_incorrect_text }}
        </p>
      </div>
    </div>

    <q-footer elevated class="bg-green q-pa-sm">
      <div class="row" v-if="isNavigationAvailable">
        <div class="col">
          <q-btn
            dense
            class="q-mr-md"
            outline
            color="white"
            icon="navigate_before"
            @click="$router.push({ name: 'question.show', params: {id: question.id-1} })"
          />
          <q-btn
            dense
            outline
            color="white"
            icon="navigate_next"
            @click="$router.push({ name: 'question.show', params: {id: question.id+1} })"
          />
        </div>
      </div>
    </q-footer>

  </div>
</template>

<script>
export default {
  props: ['id'],
  name: 'AnswerShow',
  data () {
    return {
      question: {},
      answers: {},
      showIncorrectTexts: false,
      seletedAnswer: null,
      isResultDisplayed: false,
      isNavigationAvailable: false,
      showAnswers: false
    }
  },
  mounted () {
    this.fetchQuestion()
  },
  methods: {
    fetchQuestion () {
      this.$axios.get('api/questions/' + this.id).then((response) => {
        this.answers = response.data.answers
        this.question = response.data
        this.isNavigationAvailable = true
      })
    },
    playAudio (text) {
      var msg = new SpeechSynthesisUtterance(text)
      msg.rate = 0.8
      window.speechSynthesis.speak(msg)
    },
    checkAnswer (answer, key) {
      if (answer.is_answer !== 1 && this.isResultDisplayed === false) {
        this.showIncorrectTexts = true
        this.$set(this.answers[key], 'class', 'wrongAnswer')
        this.answers.forEach((answer, key) => {
          if (answer.is_answer === 1) {
            answer.class = 'correctAnswer'
          }
        })
        this.isResultDisplayed = true
      } else if (this.isResultDisplayed === false) {
        this.$set(this.answers[key], 'class', 'correctAnswer')
        this.isResultDisplayed = true
      }
    },
    toggleShowAnswers () {
      this.showAnswers = !this.showAnswers
    }
  }
}
</script>

<style lang="css" scoped>
  .correctAnswer {
    background: #417C12;
    color: white;
  }

  .wrongAnswer {
    background: #C75727;
    color: white;
  }
</style>
